In [1]:
import pandas as pd 
data = pd.read_csv("./data/data.csv")

In [2]:
data.head()

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0
1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0
2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0
3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0
4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0

In [3]:
flats = pd.DataFrame(data.groupby("flat_model")["resale_price"].mean())

In [4]:
flat_types = data["flat_model"].unique()

In [5]:
for i in range(len(flat_types)):
    print(flat_types[i], flats["resale_price"][i])

Improved 229500.0
New Generation 673387.0263157894
DBSS 609883.0319312251
Standard 758173.4504504504
Apartment 450858.7672118403
Simplified 680492.0
Model A 670184.3824705387
Premium Apartment 422694.7394872185
Adjoined flat 702171.7058823529
Model A-Maisonette 342952.7454545455
Maisonette 800258.1621621621
Type S1 329543.6207286864
Type S2 463273.682964668
Model A2 877833.2307692308
Terrace 746500.0
Improved-Maisonette 339005.37143705465
Premium Maisonette 391847.31061946903
Multi Generation 812082.1060869565
Premium Apartment Loft 926643.9776119404
2-room 1031750.5405405406